<div class="abouts">
    <div class="abouts__container">
        <div class="abouts__content">
            <div class="abouts__header">
                <h3 class="abouts__title">Nossas Lojas</h3>
            </div>
            <div class="abouts__main">
                <p>Ta pensando em construir ou reformar? Aqui você encontra uma ampla estrutura com grande variedade de produtos, apoio mais de 35 colaboradores para atende-lo, sem contar com a alta experiência no ramo, são mais de 16 anos  de muita tradição e preço baixo.</p>
                <strong>Fixo com Whatsapp (74) 3651-1100</strong>
                <a href="#">Noosas Lojas</a>
            </div>
        </div>
        <div class="abouts__figure">
            <div class="abouts__loja abouts__loja--01">
                <img src="@img(loja-01)" alt="Loja 01">
            </div>
            <div class="abouts__loja abouts__loja--02">
                <img src="@img(loja-02)" alt="Loja 02">
            </div>
        </div>
    </div>
</div>