<div class="rulers__item">
    <svg class="ico z-truck"><use xlink:href="#z-truck" /></svg>
    <div class="rulers__text">
        <strong>Frete Grátis Bahia</strong>
        <span>Nas compras acima de R$ 1.000,00</span>
    </div>
</div>

<div class="rulers__item">
    <svg class="ico z-card"><use xlink:href="#z-card" /></svg>
    <div class="rulers__text">
        <strong>10x sem juros</strong>
        <span>No cartão de crédito</span>
    </div>
</div>

<div class="rulers__item">
    <svg class="ico z-timer"><use xlink:href="#z-timer" /></svg>
    <div class="rulers__text">
        <strong>Pronta entrega</strong>
        <span>Postagem em 24h</span>
    </div>
</div>

<div class="rulers__item">
    <svg class="ico z-box"><use xlink:href="#z-box" /></svg>
    <div class="rulers__text">
        <strong>Retire na loja</strong>
        <span>Retire em 2h*</span>
    </div>
</div>