color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #149540
color1_bg_hover = #0B6937
color2_font = #414141
color2_font_hover = #414141
color2_bg = #BDDB4C
color2_bg_hover = #BDDB4C
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #003C1C
color3_bg_hover = #003C1C
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #FD6020
button_bg_hover = #E64706
// images
down = '/media/interface/images/down.png'
select = '/media/interface/images/select.png'