.button
    &-back
        display: flex
        justify-content: center
        align-items: center
        padding: 0
        width: 35px
        height: 35px
        border-radius: 0
        background: var(--color-border-gray)
        box-shadow: none

        span
            display: none

        &:before
            icon('\f053')