.categories
    &__back
        display: flex
        justify-content: flex-start
        align-items: center
        padding: 0 15px
        width: 100%
        height: 40px
        border-radius: 0
        background: none
        box-shadow: none
        color: var(--primary-hover)
        text-transform: uppercase
        font-size: 10px

        .ico
            flex: 0 0 auto
            margin-right: 8px
            width: 7px
            height: 12px

        &:hover
            background: @background
            color: var(--primary-hover)

    &__show
        position: relative
        z-index: 3
        order: -1
        color: var(--primary-hover-contrast)

        &:before
            color: currentColor

    &__hide
        position: fixed
        top: 0
        right: 0
        border-radius: 0
        background: none
        color: var(--primary-hover-contrast)

        .ico
            width: 21px
            height: 21px
            fill: currentColor

        &:before
            display: none

        &:hover
            background: @background
            color: @color

            .ico
                fill: currentColor

    @media media-max-lg
        display: block
        padding: 0
        height: 100vh
        background: rgba(0, 0, 0, .5)

        &--mobi
            visibility: hidden
            max-width: 100%
            opacity: 0
            transition: all .2s ease-in-out

            &.on
                visibility: visible
                opacity: 1

        .parent
            align-items: center

            > a
                flex: 1
                min-width: 0

        li
            .z-next
                position: relative
                z-index: 2
                flex: 0 0 32px
                margin: -10px 0
                padding: 10px 12px
                width: 32px
                height: 32px
                background: var(--primary-hover-contrast)
                fill: var(--primary-hover)

        a
            img, svg
                &:first-child
                    margin-bottom: 8px

            span
                text-align: left

        .box--1.promo--products
            display: none

        .a
            &--0
                position: relative
                flex-direction: column
                justify-content: center
                align-items: center
                padding: 10px
                min-height: 80px
                height: auto
                text-transform: uppercase
                white-space: normal
                font-size: 10px
                line-height: 1

                span
                    display: block
                    flex: 0 0 auto
                    text-align: center

                img, svg
                    &:first-child
                        margin-right: 0

        .ul
            &--0
                display: block
                overflow: auto
                margin: 0
                max-height: 100%
                width: 100px
                height: 100vh
                background: var(--primary-hover)
                direction: rtl

        .li
            &--0
                > .z-next
                    display: none

        &__all
            a
                img, svg
                    &:first-child
                        display: none

            .a--0
                position: relative
                display: flex
                justify-content: center
                align-items: center
                height: 80px
                background: var(--primary)

                .ico
                    margin-bottom: 8px

                &:after
                    position: absolute
                    top: 50%
                    right: 0
                    width: 0
                    height: 0
                    border-top: 11px solid transparent
                    border-right: solid 11px var(--primary-hover-contrast)
                    border-bottom: 11px solid transparent
                    content: ''
                    transform: translateY(-50%)

            .box--1
                position: fixed
                top: 0
                left: 100px
                overflow: visible
                max-height: 100%
                width: calc(100% - 150px)
                height: 100vh
                background: var(--primary-hover-contrast)

            .all-ul
                &--0, &--1, &--2
                    background: none

                &--0
                    overflow: auto
                    padding: (gap / 2) 0
                    height: 100%
                    text-align: left
                    direction: ltr

                &--2
                    position: absolute
                    top: 0
                    left: 0
                    z-index: 3
                    visibility: hidden
                    overflow: auto
                    max-width: 100%
                    height: 100%
                    background: var(--primary-hover-contrast)
                    opacity: 0

            .all-li
                &--0, &--1, &--2
                    box-shadow: none

                &--0
                    padding: 0
                    min-width: 0

                    > .z-next
                        display: none

                &--1
                    display: flex

                    &.on
                        .all-ul--2
                            visibility: visible
                            opacity: 1
                            animation: menu-mobile .2s 1

            .all-a
                &--0, &--1, &--2
                    padding: 10px 15px
                    text-transform: uppercase
                    font-size: 10px
                    line-height: 1

                    &:hover
                        box-shadow: none

                &--1, &--2
                    color: var(--color-text-gray)

                &--0
                    color: var(--button)

                &--1
                    position: relative

    @media media-min-lg
        position: absolute
        top: 100%
        left: 0
        z-index: 1
        flex: 1
        margin-bottom: 0 !important
        min-width: 0
        width: 100%
        height: 50px
        background: var(--primary-hover)
        transition: all .2s ease-in-out

        li
            .z-next
                margin: 0 15px 0 0
                width: 7px
                height: 12px
                fill: var(--primary-hover)

        .parent a
            display: flex
            justify-content: space-between
            align-items: center

        &__products
            margin: 0
            padding: (gap / 2)
            width: 250px
            border: 0

            .products__item
                min-width: 0

        .scrolling &
            transform: translateY(-50px)

        .ul--0, .li--0, .a--0
            height: 100%

        .box--1
            padding: 0

        .ul
            &--1, &--2
                margin: 0
                padding: (gap / 2) 0

            &--1
                position: relative
                overflow: visible !important
                min-width: 240px
                max-width: none
                width: auto

            &--2
                position: absolute
                top: 0
                left: 285px
                visibility: hidden
                min-height: 100%
                width: 285px
                background: var(--color-gray)
                opacity: 0
                transition: all .2s ease-in-out
                transition-delay: .4s
                transform: translateX(-10%)

        .li
            &--1, &--2
                &:hover
                    background: var(--secundary)

            &--0
                &:hover > a
                    background: var(--primary-hover-contrast)
                    color: var(--primary-hover)

                > .z-next
                    display: none

            &--1
                &.parent
                    display: flex
                    align-items: center
                    min-width: 285px
                    transition: all .2s ease-in-out
                    transition-delay: .4s

                    &:hover
                        margin-right: 285px

                        .ul--2
                            visibility: visible
                            opacity: 1
                            transform: translateX(0)

        .a
            &--0, &--1, &--2
                &:hover
                    box-shadow: none

            &--1, &--2
                flex: 1
                padding: 10px 15px
                min-width: 0
                color: var(--color-text-gray)
                font-weight: regular
                font-size: 14px

                &:hover
                    color: var(--color-text-gray)

            &--0
                display: flex
                justify-content: center
                align-items: center
                color: var(--primary-hover-contrast)
                text-transform: uppercase
                white-space: nowrap
                font-weight: semibold
                font-size: 14px

        // Toda Loja
        &__all
            a
                img:first-child, svg:first-child
                    display: none

            .a--0
                background: var(--tertiary)

                span
                    display: flex
                    justify-content: center
                    align-items: center

                .ico
                    margin-right: 8px

            .box--1
                overflow: visible
                width: 240px

            .all-ul
                &--0
                    display: block
                    padding: (gap / 2) 0
                    max-height: none

                &--2
                    position: fixed
                    top: 0
                    left: 100%
                    visibility: hidden
                    padding: (gap / 2) 0
                    min-height: 100%
                    width: 285px
                    background: var(--color-gray)
                    opacity: 0
                    transition: all .2s ease-in-out
                    transition-delay: .4s
                    transform: translateX(-10%)

            .all-li
                &--1
                    &:hover
                        background: var(--secundary)

                &--0
                    padding: 0
                    min-width: 0
                    max-width: none

                    > .z-next
                        display: none

                &--1
                    display: flex
                    align-items: center

                &--1:hover .all-ul--2
                    visibility: visible
                    opacity: 1
                    transform: translateX(0)

            [class^=all-a--]
                &:hover
                    box-shadow: none

            .all-a
                &--0, &--1, &--2
                    padding: 10px 15px
                    font-size: 14px
                    line-height: 1

                &--0, &--2
                    &:hover
                        background: var(--secundary)

                &--1, &--2
                    color: var(--color-text-gray)

                &--0
                    color: var(--button)
                    font-weight: bold

                &--1
                    flex: 1
                    min-width: 0

        .removed
            display: none

@keyframes menu-mobile
    0%
        visibility: visible
        max-width: 90%
        opacity: 1
        transform: translateX(10%)

    100%
        visibility: visible
        max-width: 100%
        opacity: 1
        transform: translateX(0)