.mycart
    &__header
        position: relative

        &, a
            color: currentColor

        a
            display: flex
            justify-content: center
            align-items: center
            width: 65px
            height: 58px

        .ico
            width: 28px
            height: 25px

        .qtd
            position: absolute
            top: 0
            right: 0
            display: flex
            justify-content: center
            align-items: center
            width: 28px
            height: 28px
            border-radius: 50%
            background: var(--button)
            color: var(--button-contrast)
            font-weight: semi-bold
            font-size: 14px