.owl
    &-next, &-prev
        display: flex
        justify-content: center
        align-items: center
        text-indent: 0

        &:before
            display: none

        .ico
            width: 8px
            height: 23px

        #banner__home_banner_full &
            margin-top: -40px
            width: 80px
            height: 80px
            border-radius: 50%
            background: rgba(255, 255, 255, .2)
