.parcelamento
    ul
        display: block

        li
            display: block
            min-width: 120px
            break-inside: avoid

    .s-juros, .c-juros
        display: inline-flex
        margin-left: auto