.price-box
    .products__case &
        display: flex
        margin: -5px
        margin-top: auto
        margin-bottom: 7px

        .regular-price, .special-price, .old-price, .minimal-price
            display: inline-block
            padding: 5px

            .price span
                font-weight: medium
                font-size: 14px

        .regular-price, .special-price, .minimal-price
            .label
                display: none

        .old-price
            .label
                display: none

    .prod__shop &
        margin: 0 -5px

        .regular-price, .special-price, .old-price, .minimal-price
            padding: 5px

            .label, .price
                span
                    font-weight: medium
                    font-size: 14px

        .regular-price, .special-price, .minimal-price
            .label span
                color: var(--primary-hover)

            .price span
                color: var(--primary-hover)
                font-size: 24px

.price-box-parcelado
    .products__case &, .prod__shop &
        margin-bottom: 0

        &:empty, .upto
            display: none

        &, .num span, .de span, .value span, .s-juros span, .c-juros span
            color: var(--color-payment)
            font-weight: medium
            font-size: 12px

    .prod__shop &
        margin-top: 5px

.preco-parcelado-sem-juros
    .products__case &, .prod__shop &
        + .preco-parcelado
            display: none

.price-box-avista
    .products__case &, .prod__shop &
        display: flex
        flex-flow: row wrap
        margin-bottom: 0
        line-height: 1.3

        .price
            flex: 0 0 auto
            order: -1

            span
                font-weight: bold
                font-size: 16px

        .label
            min-width: 0

            span
                color: var(--primary-hover)
                font-weight: bold
                font-size: 12px

    .products__case &
        margin-top: 10px
        padding-top: 10px
        border-top: solid 1px var(--color-gray)

        .label
            flex: 0 0 100%

    .prod__shop &
        .label
            margin-left: 3px
