.rating
    .product-rate &
        &-box
            color: var(--color-rating)

            &, .rating:before, &:before
                font-size: 18px

            .rating:before, &:before
                color: var(--color-rating-active)

.products
    .product-rate
        margin-top: 10px