.tabs
    &__tab
        padding: 0
        min-width: 100%
        height: auto
        border: 0

        titleCollateral()

    &__content
        padding: 16px 0
        border: 0

        &, .std
            color: var(--color-text-gray)
            font-weight: regular
            font-size: 14px