.category-image
    display: none

.category-title
    .category-thumb
        display: none

    h1
        color: var(--color-text-gray)
        text-align: center
        text-transform: uppercase
        font-weight: regular
        font-size: 24px

    @media media-min-lg
        display: none

.catalog-category-view
    .breadcrumb
        @media media-max-lg
            display: none